@model Vidly.Models.ViewModels.RandomMovieViewModel

@{
    ViewBag.Title = "Random Movie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Random Movie</h2>

<h1>id: @Model.Movie.MovieId</h1>
<h3>Title: @Model.Movie.Title</h3>

@foreach (var customer in Model.Customers)
{
    <p>@customer.Name</p>
}